<!DOCTYPE html>
<html lang="en"
      layout:decorate="main.html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="main_content">
    <div class="row" th:if="${folder!=null}">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${folder.name}"></h5>
                            <div class="row">
                                <div class="col-12">
                                    <form th:action="${'/folder-category/delete'}" style="display: inline-block" method="post"
                                          th:each="cat : ${folder.categories}">
                                        <input type="hidden" name="folder_id" th:value="${folder.id}">
                                        <input type="hidden" name="category_id" th:value="${cat.id}">
                                        <button class="badge text-bg-primary border-0"
                                                th:text="${cat.name} + ' x'"></button>

                                    </form>

                                    <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                            data-bs-target="#addCategoryModal">+ Add Category
                                    </button>
                                    <div class="modal fade" id="addCategoryModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:action="${'/folder-category/add'}" method="post">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal
                                                            title</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label>CATEGORY NAME:</label>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-12">
                                                                <input type="hidden" name="folder_id"
                                                                       th:value="${folder.id}">
                                                                <select class="form-select" name="category_id">
                                                                    <option th:each="cat:${categories}"
                                                                            th:text="${cat.name}"
                                                                            th:value="${cat.id}"></option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button class="btn btn-primary">Add category</button>
                                                    </div>
                                                </form>
                                            </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button type="button" class="btn btn-link" style="color: black; text-decoration: none;font-weight: bold"
                        data-bs-toggle="modal" data-bs-target="#addTaskModal">
                    + New Task
                </button>

                <div class="modal fade" id="addTaskModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'/task/add'}" method="post">
                                <input type="hidden" name="folder.id" th:value="${folder.id}">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">ADD TASK</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <label>TITLE: </label>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <input type="text" class="form-control" name="title" placeholder="Title" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>DESCRIPTION: </label>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <textarea type="text" class="form-control" name="description" placeholder="Description" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                    <button class="btn btn-success">ADD TASK</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>STATUS</th>
                        <th style="width: 10%">DETAILS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" task:${tasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.status==0?'TO-DO':(task.status==1?'IN-TEST':(task.status==2?'DONE':'FAILED'))}"></td>
                        <td>
                            <a th:href="@{'/task/' + ${task.id}}" class="btn btn-success">DETAILS</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
<!--        ------------------------------------------------------------------------------------------------------------------------------->
    </div>

</div>