<!DOCTYPE html>
<html lang="en"
      layout:decorate="main.html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="main_content">
    <div class="row" th:if="${task!=null}">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <form th:action="${'/task/delete'}" method="post">
                                <input type="hidden" name="task_id" th:value="${task.id}">
                                <input type="hidden" name="folder_id" th:value="${task.folder.id}">
                            <h3 class="card-title" th:text="${task.title}"></h3>
                            <h5 class="card-text" th:text="${task.description}"></h5>
                            <p class="mt-2" th:text="${task.status==0?'TO-DO':(task.status==1?'IN-TEST':(task.status==2?'DONE':'FAILED'))}" ></p>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Update
                            </button>
                            <button  class="btn btn-danger">
                                Delete
                            </button>
                            </form>


                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:action="${'/task/save'}" method="post">
                                            <input type="hidden" name="task_id" th:value="${task.id}">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update task</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label>Title:</label>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <input class="form-control" name="title" type="text" required th:value="${task.title}">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <label>Description:</label>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <textarea class="form-control" type="text" name="description" required th:text="${task.description}"></textarea>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <label>Current status:</label>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12" th:each="status : ${task.status}">
                                                    <select name="status" class="form-select" >
                                                        <option th:selected="${task.status==0}" value="0">TO DO</option>
                                                        <option th:selected="${task.status==1}" value="1">IN TEST</option>
                                                        <option th:selected="${task.status==2}" value="2">DONE</option>
                                                        <option th:selected="${task.status==3}" value="3">FAILED</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button class="btn btn-primary">Save changes</button>
                                        </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mx-auto">
                    <div class="row mt-3">
                        <div class="col-12">
                            <h4 class="text-center">Comments</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form th:action="${'/comment/add'}" method="post">
                                <input type="hidden" name="task.id" th:value="${task.id}">
                            <textarea class="form-control" name="comment" placeholder="Insert comment" required></textarea>
                            <button class="btn btn-success btn-sm mt-3">ADD COMMENT</button>
                            </form>
                        </div>
                    </div>
                    <div class="list-group mt-3">
                        <div th:each = "comm : ${comments}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text = "${comm.comment}"></h5>
                                <small class="text-body-secondary" th:text = "${comm.addedTime}"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>